<h3>{{viewTytle}}</h3>

<from action ='/student' method='post' autocomplete="off">
<input type ="hidden" name ="_id" value="{{student.id}}">
<div class="form-group">
    <label>fullName</label>
    <input type="text" class="form-control" name="fullName" placeholder="fullName" value="{{student.fullName}}">
    </div>
    <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="Email" placeholder="Email" value="{{student.Email}}">
    </div>
    <div class="form-group">
    <label>mobile</label>
    <input type="text" class="form-control" name="mobile" placeholder="mobile" value="{{student.mobile}}">
    </div>
    <div class="form-group">
    <label>city</label>
    <input type="text" class="form-control" name="city" placeholder="city" value="{{student.city}}">
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-info"></button>
    <a class="btn btn-secondary" href="/student/list">view All</a>
    </div>
    </form>